:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --logo-color: #000000;
  --accent-color: #2196F3;
  --background-color: #FFFFFF;
  --hero-background-color: #2F303A;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Heebo", sans-serif;
  font-style: normal;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
p,
h1,
h2,
h3,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 380px;
}
@media screen and (min-width: 1200px) {
  .container {
    width: 956px;
  }
}

.header {
  position: relative;
}
@media screen and (max-width: 1199px) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 33px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    margin-bottom: 140px;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.nav-list .item {
  margin-left: 33px;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}
@media screen and (max-width: 1199px) {
  .nav-list {
    display: none;
  }
}

.menu-btn {
  position: absolute;
  top: 0;
  right: 30%;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 1200px) {
  .menu-btn {
    display: none;
  }
}

.hero {
  text-align: center;
  padding-bottom: 60px;
}
@media screen and (max-width: 1199px) {
  .hero img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 33px;
    width: 170.859px;
    height: 170.859px;
  }
}
@media screen and (min-width: 1200px) {
  .hero img {
    width: 243px;
    height: 243px;
  }
}
@media screen and (max-width: 1199px) {
  .hero h1 {
    margin-left: auto;
    margin-right: auto;
    width: 312px;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .hero h1 {
    width: 506px;
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
    text-align: start;
  }
}
.hero p {
  margin-bottom: 38px;
}
@media screen and (max-width: 1199px) {
  .hero p {
    margin-left: auto;
    margin-right: auto;
    width: 328px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
  }
}
@media screen and (min-width: 1200px) {
  .hero p {
    width: 497px;
    text-align: start;
  }
}
.hero button {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  border-radius: 2px;
  border: none;
  padding: 17px 20px;
  background: var(--Primary, #FF6464);
}

@media screen and (min-width: 1200px) {
  .flex-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
@media screen and (min-width: 1200px) {
  .flex-hero div {
    margin-right: 115px;
  }
}

.posts {
  background-color: #EDF7FA;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 60px;
}
@media screen and (max-width: 1199px) {
  h2 {
    text-align: center;
  }
}

.article-list {
  padding-bottom: 38px;
}
.article-list .item {
  border-radius: 4px;
  background-color: white;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
}
.article-list .item h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 12px;
}
.article-list .item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 19px;
}
.article-list .item .date {
  padding-right: 24px;
}
.article-list .item .robota {
  padding-left: 24px;
  border-left: solid 1px black;
}
.article-list .item .text {
  width: 314px;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 1199px) {
  .article-list .item {
    padding: 12px 8px 22px 19px;
  }
}
@media screen and (min-width: 1200px) {
  .article-list .item {
    padding: 24px;
  }
}
@media screen and (max-width: 1199px) {
  .article-list .item:first-child {
    margin-bottom: 17px;
  }
}
@media screen and (min-width: 1200px) {
  .article-list .item:first-child {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .article-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.works {
  margin-bottom: 150px;
}
@media screen and (max-width: 1199px) {
  .works {
    padding-bottom: 15px;
    border-bottom: solid 1px #E0E0E0;
  }
}

@media screen and (min-width: 1200px) {
  .flex-works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .none {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .works-list .item {
    margin-bottom: 31px;
    padding-bottom: 15px;
    border-bottom: solid 1px #E0E0E0;
  }
}

@media screen and (max-width: 1199px) {
  .work-img {
    width: 339px;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 17px;
  }
}
@media screen and (min-width: 1200px) {
  .work-img {
    width: 246px;
    height: 180px;
    margin-right: 18px;
  }
}

.dashboards {
  margin-bottom: 16px;
  font-weight: 700;
}
@media screen and (max-width: 1199px) {
  .dashboards {
    font-size: 24px;
    line-height: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .dashboards {
    font-size: 30px;
    line-height: normal;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.year {
  border-radius: 16px;
  background: #142850;
  color: #FFF;
  font-size: 16px;
  font-weight: 900;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 22px;
}

.year + p {
  color: var(--Light, #8695A4);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 1199px) {
  .flex + p {
    width: 344px;
  }
}
@media screen and (min-width: 1200px) {
  .flex + p {
    width: 594px;
  }
}

.footer {
  padding-top: 21px;
  padding-bottom: 21px;
}
.footer p {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.svg-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 26px;
}
.svg-list .item:not(:first-child) {
  margin-left: 35px;
}/*# sourceMappingURL=main.css.map */