.hero{
    text-align: center;

    img{
        @media screen and (max-width: 1199px) {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 33px;
        }
    }

    h1{
        @media screen and (max-width: 1199px) {
            margin-left: auto;
            margin-right: auto;
            width: 312px;
            font-size: 32px;
            font-weight: 700;
            line-height: 40px;
            margin-bottom: 21px;
        }
    }

    p{
        @media screen and (max-width: 1199px) {
            margin-left: auto;
            margin-right: auto;
            width: 328px;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 38px;
        }
    }

    button{
        color: #FFF;
        font-size: 20px;
        font-weight: 500;
        line-height: normal;
        border-radius: 2px;
        border: none;
        padding: 17px 20px;
        background: var(--Primary, #FF6464);
    }
}