.posts{
    background-color: #EDF7FA;;
}

h2{
    font-size: 18px;
    font-weight: 400;
    line-height: 60px;
    @media screen and (max-width: 1199px) {
        text-align: center;
    }
}

.article-list{
    padding-bottom: 38px;
    .item{
        border-radius: 4px;
        background-color: white;
        box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
        

        h3{
            font-size: 22px;
            font-weight: 700;
            line-height: 30px;
            margin-bottom: 12px;
        }

        div{
            display: flex;
            margin-bottom: 19px;
        }

        .date{
            padding-right: 24px;
        }

        .robota{
            padding-left: 24px;
            border-left: solid 1px black;
        }

        .text{
            width: 314px;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
        }

        @media screen and (max-width: 1199px) {
            padding: 12px 8px 22px 19px;
        }

        @media screen and (min-width: $desktop) {
            padding: 24px;
        }
    }

    .item:first-child{
        @media screen and (max-width: 1199px) {
            margin-bottom: 17px;
        }

        @media screen and (min-width: $desktop) {
            margin-right: 20px;
        }
    }

    @media screen and (min-width: $desktop) {
        display: flex;
    }
}